:root {
    --green-color: #08bd87fd;
}
.h-color{
    color: var(--green-color);
}
.logo-img{
    border: 1px dashed var(--green-color);
    border-radius: 100%;
    padding: 8px;
}
.head-img img{
    height: 50px;
    width: 50px;
}